.login,.register{
    background-color: rgba(0, 0, 250, .35);
    max-width: 50vh;
    margin: auto;
    padding: 1px 5px 20px 20px;
    border-radius: 5%;
    line-height: 30px;
}

.name{
    line-height: 30px;
}

.profile{

    font-weight: bold;

}

.footer,.header{
    text-align: center;

}

